<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}welcome">About</a></li>
    <li class="nav-oral-history" role="menuitem"><a href="{{site.baseurl}}tag/oral-history">Oral History</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}project-publications">Project Publications</a></li>
    <li class="nav-team-members" role="menuitem"><a href="{{site.baseurl}}team-members">Team Members</a></li>
    <li class="nav-zotero-group" role="menuitem"><a href="https://www.zotero.org/groups/2197481/history_of_digital_humanities/items" target="_blank">Zotero Group</a></li>
</ul>
